@import url("https://fonts.googleapis.com/css2?family=Jaini&family=Shadows+Into+Light&display=swap");
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
.jaini-regular {
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
}
